#room-browser
  table
    margin: 0 auto
    width: 50%
    border: 0
    border-collapse: collapse
    border-spacing: 0 !important
    tr
      input
        max-width: 100px
        border: 0
        background: none
        color: var(--text-color)
        outline: 0



      td:nth-child(3)
        max-width: 100px

      td:last-of-type
        background: var(--transparent-primary-color)
        transition: 0.2s ease-in-out
        &:hover
          background: var(--transparent-primary-color4)
          color: var(--dark)

      &:nth-child(2n)
        border-top: 1px solid var(--primary-color)
        background: var(--dark-background)

      &:not(:first-child):nth-child(2n+1)
        border-top: 1px solid var(--dark-primary-color)

.sort-by
  display: inline-block
  width: 10px
  height: 10px
  font-size: 0.5em
  margin-left: 0.5em
  transform: scaleX(1.5)
  opacity: 0.5
  transition: 0.2s ease-in-out
  &.active
    color: var(--primary-color)
  &.inverse
    transform: scaleX(1.5) rotate(180deg)
  &:hover, &.active
    cursor: pointer
    opacity: 1
