.tabs-container
  position: relative
  overflow-x: auto
  overflow-y: hidden
  width: 100vw
  display: flex

  &::after
    content: ""
    position: absolute
    width: 40px
    height: 100%
    left: 0
    background: linear-gradient(90deg, var(--color-background) 20%, transparent)


  &::-webkit-scrollbar
    display: none

#pens.container
  position: relative
  width: 100%
  display: grid
  grid-template-areas: "controls" "preview"
  grid-template-columns: 1fr
  color: inherit
  z-index: 1

  .controls
    padding: 1em
    grid-area: controls
    display: grid
    background: var(--dark)

  .pen
    height: 100%
    &:nth-child(1)
      grid-area: html

    &:nth-child(2)
      grid-area: css

    &:nth-child(3)
      grid-area: js

    .header
      display: flex
      align-items: center
      justify-content: flex-start

    h1
      margin: 0
      margin-right: 1em

  .pen .pen-layout
    display: flex
    align-items: center

    button
      width: 20px
      height: 20px
      padding: 0
      border: none
      outline: 0
      color: var(--text-color)
      transition: 0.2s all ease-in-out
      filter: grayscale(1) brightness(2)
      opacity: 0.5
      background-size: cover !important
      &:nth-child(1)
        background: url('../images/maximize.png') no-repeat center
      &:nth-child(2)
        background: url('../images/cross.png') no-repeat center
      &:nth-child(3)
        background: url('../images/minimize.png') no-repeat center

      &:not(:first-child)
        margin-left: 1em
      &:hover, &.active
        cursor: pointer
        color: var(--primary-color)
        filter: grayscale(0) brightness(1)
        opacity: 1
      &.active
        opacity: 0.8
        &:hover
          cursor: auto

  &.leftLayout, &.rightLayout
    grid-template-rows: 100vh
    .controls
      grid-template-areas: "html" "css" "js"
      grid-template-columns: 1fr
    .pen:not(:first-child)
      padding: 0.5em 0
    .preview
      height: 100%

    &.html .controls
      grid-template-rows: 1fr 75px 75px
    &.css .controls
      grid-template-rows: 75px 1fr 75px
    &.js .controls
      grid-template-rows: 75px 75px 1fr
    &.htmlcss .controls
      grid-template-rows: 1fr 1fr 75px
    &.htmljs .controls
      grid-template-rows: 1fr 75px 1fr
    &.cssjs .controls
      grid-template-rows: 75px 1fr 1fr
    &.none .controls
      grid-template-rows: 75px 75px 75px 1fr

  &.leftLayout
    grid-template-areas: "controls preview"
    grid-template-columns: 1fr 2fr

  &.centerLayout
    grid-template-areas: "controls" "preview"

    .controls
      width: 100%
      height: 350px
      grid-template-areas: "html css js"
      grid-template-columns: 1fr 1fr 1fr

    &.html .controls
      grid-template-columns: 1fr 75px 75px

    &.css .controls
      grid-template-columns: 75px 1fr 75px

    &.js .controls
      grid-template-columns: 75px 75px 1fr

    &.htmljs .controls
      grid-template-columns: 1fr 75px 1fr

    &.htmlcss .controls
      grid-template-columns: 1fr 1fr 75px

    &.cssjs .controls
      grid-template-columns: 75px 1fr 1fr

    &.none .controls
      grid-template-columns: 75px 75px 75px 1fr

  &.rightLayout
    grid-template-areas: "preview controls"
    grid-template-columns: 2fr 1fr



  .preview
    grid-area: preview
    background: var(--text-color)
    height: calc(100vh - 300px)

  #iFrame
    width: 100%
    height: 100%
    grid-area: pre
    border: none
    overflow: hidden

  .pen
    .codePane
      height: calc(100% - 43px)
      border: 1px solid var(--pen-border)
    &.min
      position: relative
      width: 50px
      .codePane
        display: none
  &.centerLayout .pen.min .header
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) rotate(270deg)

//top - bar with panes to switch

#tabs
  flex: 0 0 auto
  display: flex
  justify-content: flex-end
  list-style: none
  margin: 0
  padding: 0
  line-height: 1.75em
  text-align: center
  background-color: var(--color-background)
  margin-top: 0.2em
  margin-left: auto
  padding-right: 1em
  border-bottom: 1px solid var(--light-background)

  li.switchTab
    flex: 0 0 auto
    display: flex
    align-items: center
    justify-content: center
    outline: none
    height: 30px
    overflow: hidden
    min-width: 140px
    position: relative
    bottom: -2px
    border: 1px solid var(--light-background)
    border-top-left-radius: 0.25em
    border-top-right-radius: 0.25em
    background: var(--color-background)
    font-size: 1em
    font-family: var(--font-stack)
    color: var(--text-color)
    z-index: 0
    color: var(--switch-tab)
    letter-spacing: 1px
    transition: 0.2s all ease-in-out

    &:not(.locked) span
      margin: 0
      margin-left: 1em

    &.locked
      &::after
        color: var(--primary-color)
        position: absolute
        top: 50%
        left: 50%
        content: "Locked"
        text-transform: uppercase
        opacity: 1
        font-size: 0.5em
        letter-spacing: 2px
        opacity: 0.5

        // background: url('../images/lock-icon.png') no-repeat center
        // background-size: cover
        transform: translate(-50%, -15%)
        overflow: visible
        transition: 0.2s ease-in-out

      &:hover::after, &.active::after
        opacity: 1

    span
      outline: none
      margin: 0 1em

    .closeButton
      position: relative
      bottom: -1px
      box-sizing: content-box
      margin-left: 0.5em
      padding: 0
      margin-right: 1em
      width: 15px
      height: 15px
      border: none
      background: url("../images/cross.png") no-repeat center
      background-size: cover
      filter: grayscale(1) brightness(2)
      opacity: 0
      outline: none
      transition: 0.2s ease-in-out

      &:hover
        filter: grayscale(0) brightness(1)

    &.shared .closeButton
      background: url("../images/link.png") no-repeat center
      background-size: cover
      opacity: 0.5
      transition: 0.2s ease-in-out

      &:hover
        background: url("../images/broken-link.png") no-repeat center
        background-size: cover
        opacity: 1

    &:hover .closeButton
      opacity: 0.85
      cursor: pointer

    &.active
      color: var(--text-color)
      background: var(--dark)
      border-bottom: 0

      .closeButton
        opacity: 1

    &:hover
      cursor: pointer

    &:not(.active):hover
      background: linear-gradient(to top, var(--dark) 25%, var(--light) 100%)
      border-bottom-color: transparent
      box-shadow: 0 3px 3px var(--box-shadow-tab-hover), inset 0 1px 0 var(--color-background)

      color: var(--text-color)
      transition: 0.2s all ease-in-out

    &:last-of-type
      min-width: 50px

#newTab
  display: flex
  justify-content: center
  align-items: center

  img
    width: 13px
    height: 13px
    filter: grayscale(1) brightness(2)
    transition: 0.2s ease-in-out

    &:hover
      filter: grayscale(0) brightness(1)

#raise-hand
  font-size: 1.5em
  margin-top: 0
  margin-bottom: 0
