@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans')

$font-stack-editor:    Inconsolata, monospace
$font-stack: Open+Sans, sans-serif
$primary-color: #DE6C2F
$color-background: #333333
$dark: #2d2d2d
$default-margin: 30px

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  color: white
  font: 100% $font-stack
  background-color: $color-background


#pens.container
  position: relative
  width: 100%
  display: grid
  grid-template-areas: "controls" "preview"
  grid-template-columns: 1fr
  color: inherit

  .controls
    padding: 1em
    grid-area: controls
    width: 100%
    display: grid
    background: darken($color-background, 5%)
    grid-template-areas: "html css js"
    grid-template-columns: 1fr 1fr 1fr

  .pen
    height: 300px
    overflow: hidden
    h1
      margin: 0

  #htmlPen
    grid-area: html

  #cssPen
    grid-area: css

  #jsPen
    grid-area: js

  .preview
    grid-area: preview
    background: white
    height: calc(100vh - 300px)

  #iFrame
    width: 100%
    height: 100%
    grid-area: pre
    border: none
    overflow: hidden

  .codePane
    height: 100%
    border: 1px solid black

//top - bar with panes to switch

#tabs
  list-style: none
  margin: 0
  padding: 0
  line-height: 24px
  text-align: center
  background-color: #4d4d4d
  padding-right: 15px
  position: relative
  &::after
    position: absolute
    content: ""
    width: 100%
    bottom: 0
    left: 0
    border-bottom: 1px solid #333333
    z-index: 1
  &::before
    z-index: 1
  li
    background-color: inherit
    display: inline-block
    float: right
    border: 1px solid $dark
    border-top-left-radius: 6px
    border-top-right-radius: 10px
    padding: 2px 50px
    font-size: 15px
    font-family: $font-stack
    color: white
    position: relative
    z-index: 0
    margin: 0 -5px
    color: gray
    letter-spacing: 1px
    .closeButton
      display: none


    &:hover
      background: linear-gradient(to bottom, $dark 30%, #3f3e3e 100%)
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 $color-background
      text-shadow: 0 1px $color-background
      color: white
      transition: 1s
      .closeButton
        display: inline-block
        transition: 1s
        color: gray
        background-color: transparent
        position: absolute
        right: 0px
        top: 1px
        border: none
        outline: none
        font-family: $font-stack
        font-size: 14px
        &:hover
          color: white




    &:active
      background-color: #333333
      z-index: 2
      border-bottom-color: $dark
      color: white
      &::before
        box-shadow: 2px 2px 0 $color-background
      &::after
        box-shadow: -2px 2px 0 $color-background
    &::before
      &::after
        position: absolute
        bottom: -1px
        width: 6px
        height: 6px
        content: " "
      left: -6px
      border: 1px solid $dark
      border-bottom-right-radius: 6px
      border-width: 0 1px 1px 0
      box-shadow: 2px 2px 0 red
      box-shadow: 2px 2px 0 $dark
    &::after
      right: -6px
      border: 1px solid $dark
      border-bottom-left-radius: 6px
      border-width: 0 0 1px 1px
      box-shadow: -2px 2px 0 red
      box-shadow: -2px 2px 0 $dark
