@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans')

$font-stack-editor:    Inconsolata, monospace
$font-stack: 'Open Sans', sans-serif
$primary-color: #DE6C2F
$color-background: #333333
$dark: darken($color-background, 5%)
$light: lighten($dark, 10%)
$default-margin: 30px

*
  box-sizing: border-box

body
  position: relative
  overflow-x: hidden
  margin: 0
  padding: 0
  color: white
  font: 100% $font-stack
  background-color: $color-background
// INDEX STYLE

form
  fieldset:not(.submit)
    position: relative
    margin: 1em 0
    border: none
    padding: 0
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 0
      height: 3px
      border-radius: 2px
      background: $primary-color
      transform: translate(0, -8px)
      transition: 0.2s all ease-in-out
    &:hover::before
      width: 100%

nav.menu
  display: flex
  align-items: center
  justify-content: space-between
  background-color: $dark
  padding: 0 1em
  border-bottom: 1px solid $light
  z-index: 10
  box-shadow: 0 0 10px 0 $dark
  img
    max-height: 20px
    display: inline-block



#home.container
    display: grid
    grid-template-rows: 50vh 1fr
    grid-template-areas: "header" "content"
    text-align: center
    .header
        pointer-events: none
        position: relative
        grid-area: header
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background: url('/images/background-homepage.jpg') no-repeat center
            background-size: cover
            filter: blur(2px)
            z-index: -1
            opacity: 0.6
        .title
          position: absolute
          max-width: 500px
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          z-index: 0
          filter: drop-shadow(0 0 5px $primary-color)
          img
            margin: 0
            width: 100%
          p
            text-align: right
            margin-top: 0


.hidden
  display: none

@import login
@import tab
@import creator
