@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Montserrat");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: white;
  font: 100% Montserrat, sans-serif;
  background-color: #333333; }

nav.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 0 1em;
  border-bottom: 1px solid #474747; }
  nav.menu img {
    max-height: 20px;
    display: inline-block; }
  nav.menu .profile {
    display: flex;
    align-items: center; }
    nav.menu .profile a {
      margin-left: 1em; }
  nav.menu a {
    color: #f2f2f2;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 18px; }
    nav.menu a:not(.logo):hover {
      background-color: #ddd;
      color: black; }
    nav.menu a:not(.logo):active {
      background-color: #ffffff;
      color: black; }

#home.container {
  display: grid;
  grid-template-rows: 50vh 1fr;
  grid-template-areas: "header" "content";
  text-align: center; }
  #home.container .header {
    position: relative;
    grid-area: header; }
    #home.container .header:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("/images/background-homepage.jpg") no-repeat center;
      background-size: cover;
      filter: blur(2px);
      z-index: -1;
      opacity: 0.6; }
    #home.container .header .title {
      position: absolute;
      max-width: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #home.container .header .title img {
        margin: 0;
        width: 100%; }
      #home.container .header .title p {
        text-align: right;
        margin-top: 0; }

.profile #logout {
  text-align: right; }

.login {
  margin: 30px; }
  .login a {
    text-decoration: none;
    color: white; }
  .login a:hover {
    background-color: #ddd;
    color: black; }

.form-container {
  padding: 1em 0; }

.manage-rooms {
  margin: 2em 0;
  display: flex;
  justify-content: space-around;
  grid-area: content;
  position: relative; }
  .manage-rooms > div:not(.separator) {
    min-width: 300px; }
  .manage-rooms > .separator {
    border-radius: 2px;
    width: 4px;
    background: #DE6C2F; }
  .manage-rooms h1 {
    margin-bottom: 0; }
  .manage-rooms form fieldset:not(.submit) {
    position: relative;
    margin: 1em 0;
    border: none;
    padding: 0; }
    .manage-rooms form fieldset:not(.submit)::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      border-radius: 2px;
      background: #DE6C2F;
      transform: translate(0, -8px);
      transition: 0.2s all ease-in-out; }
    .manage-rooms form fieldset:not(.submit):hover::before {
      width: 100%; }
  .manage-rooms form input {
    color: #cccccc;
    height: 1.5em;
    outline: none;
    background: transparent;
    border: none;
    height: 3em;
    width: 100%;
    display: block;
    font-size: 1em;
    transition: 0.2s ease-in-out; }
    .manage-rooms form input:focus {
      color: white; }
    .manage-rooms form input:hover {
      cursor: pointer; }
  .manage-rooms form .submit {
    position: relative;
    display: inline-block;
    padding: 0;
    border: none; }
    .manage-rooms form .submit input {
      color: white;
      text-transform: uppercase;
      width: auto;
      border-radius: 1em;
      margin: 0 auto;
      display: inline; }
    .manage-rooms form .submit::after {
      font-size: 1.5em;
      position: relative;
      right: 10px;
      bottom: -2px;
      color: #DE6C2F;
      display: inline;
      content: '▸';
      padding: 0.5em 0;
      opacity: 0;
      transition: 0.2s ease-in-out; }
    .manage-rooms form .submit:hover::after {
      right: 0;
      opacity: 1; }

#pens.container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas: "controls" "preview";
  grid-template-columns: 1fr;
  color: inherit; }
  #pens.container .controls {
    padding: 1em;
    grid-area: controls;
    width: 100%;
    display: grid;
    background: #262626;
    grid-template-areas: "html css js";
    grid-template-columns: 1fr 1fr 1fr; }
  #pens.container .tab {
    height: 300px;
    overflow: hidden; }
    #pens.container .tab h1 {
      margin: 0; }
  #pens.container #htmlPen {
    grid-area: html; }
  #pens.container #cssPen {
    grid-area: css; }
  #pens.container #jsPen {
    grid-area: js; }
  #pens.container .preview {
    grid-area: preview;
    background: white;
    height: calc(100vh - 300px); }
  #pens.container #iFrame {
    width: 100%;
    height: 100%;
    grid-area: pre;
    border: none;
    overflow: hidden; }
  #pens.container .pen {
    height: 100%;
    border: 1px solid black; }

/*# sourceMappingURL=style.css.map */