@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:300,400')


$font-stack-editor:    Inconsolata, monospace
$font-stack: 'Open Sans', sans-serif
$primary-color: #DE6C2F
$color-background: #333333
$dark: darken($color-background, 5%)
$light: lighten($dark, 10%)
$default-margin: 30px
$success: mix(green, white, 66%)
$warning: mix(yellow, white, 66%)
$error: mix(red, white, 66%)

html:root
  --font-stack-editor: Inconsolata, monospace
  --font-stack: 'Open Sans', sans-serif
  --primary-color: #DE6C2F
  --dark-primary-color: darken($primary-color, 10%)
  --dark-primary-color2: darken($primary-color, 20%)
  --transparent-primary-color: transparentize($primary-color, 0.9)
  --transparent-primary-color2: transparentize($primary-color, 0.8)
  --transparent-primary-color3: transparentize($primary-color, 0.5)
  --transparent-primary-color4: transparentize($primary-color, 0.1)
  --transparent-primary-color5: transparentize($primary-color, 0.75)
  --transparent-warning: transparentize(darken($warning, 10%), 0.2)
  --transparent-success: transparentize(darken($success, 10%), 0.2)
  --transparent-error: transparentize(darken($error, 10%), 0.2)
  --light-primary-color: lighten($primary-color, 20%)
  --color-background: #333333
  --light-background: lighten($color-background, 20%)
  --dark-background: darken($color-background, 1%)
  --dark: darken($color-background, 5%)
  --light: lighten($dark, 10%)
  --light2: lighten($dark, 20%)
  --dark-success: mix($dark, green, 90%)
  --dark-error: mix($dark, red, 90%)
  --dafault-margin: 30px
  --text-color: white
  --warning: $warning
  --success: $success
  --error: $error
  --dark-warning: darken($warning, 10%)
  --dark-success: darken($success, 10%)
  --dark-error: darken($error, 10%)
  --warning-mix: mix($dark, $warning, 40%)
  --success-mix: mix($dark, $success, 30%)
  --darken-light: darken(white, 10%)
  --darken-dark: darken($dark, 5%)
  --role-color: #b4b6ba
  --pen-border: black
  --switch-tab: gray
  --box-shadow-tab-hover: rgba(0, 0, 0, 0.4)



*
  box-sizing: border-box

body, html
  min-height: 100vh

body
  display: grid
  grid-template-rows: auto 1fr auto
  position: relative
  overflow-x: hidden
  margin: 0
  padding: 0
  color: var(--text-color)
  font: 100% var(--font-stack)
  background-color: var(--color-background)

// INDEX STYLE

hr
  background: var(--primary-color)
  border-color: var(--dark-primary-color)

form
  fieldset:not(.submit)
    position: relative
    margin: 1em 0
    border: none
    padding: 0
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 0
      height: 3px
      border-radius: 2px
      background: var(--primary-color)
      transform: translate(0, -8px)
      transition: 0.2s all ease-in-out
    &:hover::before
      width: 100%

nav.menu
  display: flex
  align-items: center
  justify-content: space-between
  background-color: var(--dark)
  padding: 0 1em
  border-bottom: 1px solid var(--light)
  z-index: 10
  box-shadow: 0 0 10px 0 var(--dark)
  img
    max-height: 20px
    display: inline-block



#home.container
    display: grid
    grid-template-rows: 50vh 1fr
    grid-template-areas: "header" "content"
    text-align: center
    .header
        pointer-events: none
        position: relative
        grid-area: header
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background: url('/images/background-homepage.jpg') no-repeat center
            background-size: cover
            filter: blur(2px)
            z-index: -1
            opacity: 0.6
        .title
          position: absolute
          max-width: 500px
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          z-index: 0
          filter: drop-shadow(0 0 5px var(--primary-color))
          img
            margin: 0
            width: 100%
          p
            text-align: right
            margin-top: 0


.hidden
  display: none

#roomTable a
  text-decoration: none
  color: var(--text-color)

#dragbar
  background-color: var(--primary-color)

.sideLayout
  width: 5px
  height: 100%
  cursor: col-resize

.topLayout
  width: 100%
  height: 5px
  cursor: row-resize

.preview
  display: flex
  flex-direction: column



@import login
@import about
@import tab
@import creator
@import footer
@import browser
